@import url('https://fonts.googleapis.com/css?family=Quicksand');

*{
	font-family: 'Quicksand', sans-serif;
}

body {
	font-family: Verdana, Arial;
}

a {
	color: #e01e62;
	text-decoration: none;
}

.products{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(4, auto)
 }
.products a  {
    flex-basis: 25%;
}

.product {
	vertical-align: top;
	display: inline-block;
	border: 1px solid #C5C5C5;
	border-radius: 4px;
	padding: 4px;
	margin: 4px;
	min-height: 400px;
}

.product img {
	width: 100%;
	max-height: 200px;
}

.product-cost {
	font-weight: bold;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	background: #EEE;
}

.container > .header-container {
    display: flex;
    border-bottom: 2px solid #EEE;
	position: sticky;
	top:0;
	background: #FFF;
}

.container > .header-container > div {
	display: inline-block;
	flex-grow: 1;
}

.container > .header-container > div:last-child {
	text-align: right;
}

#search {
	border: 1px solid #DDD;
	border-radius: 8px;
	font-size: 1.3em;
	vertical-align: middle;
	margin-right: 55px;
	padding: 4px 12px;
	color: #A2A2A2;
}

.logo-container img {
	height: 60px;
}

.btns-container a {
	line-height: 3;
}

.btns-container a::after {
    content: " / ";
}

.btns-container a:last-child::after {
    content: "";
}

@media only screen and (max-width: 1050px)  {
    .container {
        width: auto;
    }
}

@media only screen and (max-width: 755px)  {
    #search {
        margin-right: 0;
    }
}

@media only screen and (max-width: 720px)  {
    .products {
        grid-template-columns: repeat(3, auto)
    }
}

@media only screen and (max-width: 560px)  {
    .products {
        grid-template-columns: repeat(2, auto)
    }
}

@media only screen and (max-width: 440px)  {
    .products {
        grid-template-columns: repeat(1, auto);
    }

    .product {
        min-height: auto;
    }

    .product img {
        width: 100px;
        display: inline-block;
    }

    .product > p {
        display: inline-block;
    }

    .product > p.product-title {
        width: 200px;
    }

    .logo-container img {
        height: 40px;
    }

    .header-container .btns-container {
        margin-top: -8px;
    }

    #search {
        display: block;
        margin-top: 8px;
    }

    .container > .header-container {
        display: block;
    }
}