.btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    min-width: 150px;
    text-align: center;
}

.btn.btn--fancy {
    background: #e01e62;
    color: #FFF;
    border-radius: 4px;
    padding: 8px 4px;
}

.btn.btn--fancy div {
    display: inline-block;
}